body {
    font-family: 'Dancing Script';font-size: 16px;
		background: #02010a;
}

.contenido{
	width: 900px;
	margin: auto;
	max-width: 100%;
}

header {
	width:100%;
	overflow:hidden;
	background:#5b7989;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  0% {
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }

}

.current_link{
  text-decoration: none;
}

.wrapper {
	width:100%;
	max-width:100%;
	overflow:hidden;
  padding: 10px;
}

header .logo {
	color:#f2f2f2;
	font-size:40px !important;
	line-height:80px;
	float:left;
  text-align: left;
  text-shadow: 2px 2px #02010a;
}

header nav {
	float:right;
	line-height:80px;
}

header nav a {
	display:inline-block;
	color:#fff;
	padding:10px 20px;
	line-height:normal;
	font-size:16px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center;
		line-height:100px;
	}
}

.central_image{
  margin: 0px auto;
  background: #82c3a6;
	border: 2px solid #02010a;
  text-align: center;
}

.central_image img{
  max-width: 100%;
  margin: auto;
}

.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background:#d5c75f;
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

div [class*="bloque"]{
  flex: 1 2 50%;
  width: 50%;
  margin: auto;
}

.bloque1 img{
  max-width: 50%;
}

.bloque2 img{
  max-width: 50%;
}


@media (max-width: 750px) {
  .contenedor {
    flex-flow: column;
  }


}

.bloque1 img:hover{
	-webkit-transform: rotate(10deg);
          transform: rotate(10deg);
					box-shadow: 2px 2px #82c3a6;
					border: 2px solid black;
}

.bloque2 img:hover{
	-ms-transform: translate(20px, -5px); /* IE 9 */
    -webkit-transform: translate(20px, -5px); /* Safari */
    transform: translate(20px, -5px);
		box-shadow: 2px 2px #82c3a6;
		border: 2px solid black;
}

#footer {
  width: 100%;
}
.footerFloat {
	width: 100%;
}
@media all and (min-width: 950px) {
    #footer {

        width: 100%;
        margin: auto;
    }
    .footerFloat {
			width: 25%;
			float: left;
    }
}

.footerFloat ul{
	list-style: none;
	padding: 0;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
		text-decoration: none;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Instagram */
.fa-instagram {
    background: #3f729b;
    color: white;
		text-decoration: none;
}

#footer_wrapper {
	background: #C6d5c5;
	width: 100%;
  overflow:hidden;
	border-radius: 0px 0px 10px 10px;
}

.gallery-wrapper{
  background-color: #fff;
  text-align: center;
}


div.gallery {
    border: 1px solid #ccc;
    text-align: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 30%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#imageToBlur{
  filter: blur(10px);
}

#grayScale{
  filter: grayscale(100%);
}
#sepia{
  filter: sepia(90%);
}
